<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img src="images/Profile.png" alt="" />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left_icons">
              <div class="icon">
                <img src="icon/Facebook.svg" alt="" />
              </div>
              <div class="icon">
                <img src="icon/Instagram.svg" alt="" />
              </div>
              <div class="icon">
                <img src="icon/Twitter.svg" alt="" />
              </div>
              <div class="icon">
                <img src="icon/Linkeding.svg" alt="" />
              </div>
              <div class="icon">
                <img src="icon/Youtube.svg" alt="" />
              </div>
              <div class="icon">
                <img src="icon/Dribbble.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="marginer"></div>
          <div class="left_2">
            <div class="left_2-1">
              <div class="left_2-1_age">Age:</div>
              <div class="left_2-1_age_num"><%=user.age%></div>
            </div>
            <div class="left_2-2">
              <div class="left_2-2_residen">Residence:</div>
              <div class="left_2-2_text"><%=user.residence%></div>
            </div>
            <div class="left_2-3">
              <div class="left_2-3_freelance">Freelance:</div>
              <div class="left_2-3_text">Available</div>
            </div>
            <div class="left_2-4">
              <div class="left_2-4_address">Address:</div>
              <div class="left_2-4_text"><%=user.adress%></div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <div class="lang">Languages</div>
            <div class="box_text">
              <div class="lang_text_1"><%=user.languages[0]%></div>
              <div class="lang_num_1">100%</div>
            </div>
            <div class="lang_icon1">
              <img src="icon/Line.svg" alt="" />
            </div>

            <div class="box_text_2">
              <div class="lang_text_2"><%=user.languages[1]%></div>
              <div class="lang_num_2">80%</div>
            </div>
            <div class="lang_icon_2">
              <img src="icon/Line (1).svg" alt="" />
            </div>

            <div class="box_text_3">
              <div class="lang_text_3"><%=user.languages[2]%></div>
              <div class="lang_num_3">60%</div>
            </div>
            <div class="lang_icon_3">
              <img src="icon/Line (2).svg" alt="" />
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <div class="skills">Skills</div>
            <div class="box_text_skills">
              <div class="skills_text_1">Html</div>
              <div class="skills_num_1">90%</div>
            </div>
            <div class="skills_icon1">
              <img src="icon/Line (3).svg" alt="" />
            </div>

            <div class="box_text_skills_2">
              <div class="skills_text_2">CSS</div>
              <div class="skills_num_2">85%</div>
            </div>
            <div class="skills_icon_2">
              <img src="icon/Line (4).svg" alt="" />
            </div>

            <div class="box_text_skills_3">
              <div class="skills_text_3">Js</div>
              <div class="skills_num_3">80%</div>
            </div>
            <div class="skills_icon_3">
              <img src="icon/Line (5).svg" alt="" />
            </div>

            <div class="box_text_skills_4">
              <div class="skills_text_4">PHP</div>
              <div class="skills_num_4">75%</div>
            </div>
            <div class="skills_icon_4">
              <img src="icon/Line (6).svg" alt="" />
            </div>

            <div class="box_text_skills_5">
              <div class="skills_text_5"><%=user.skills[4]%></div>
              <div class="skills_num_5">85%</div>
            </div>
            <div class="skills_icon_5">
              <img src="icon/Line (6).svg" alt="" />
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <div class="extra">Extra Skills</div>
            <div class="extra_box_text">
              <div class="extra_icon">
                <img src="icon/icons.svg" alt="" />
              </div>
              <div class="extra_text_1">Bootstrap, Materialize</div>
            </div>

            <div class="extra_box_text_2">
              <div class="extra_icon_2">
                <img src="icon/icons.svg" alt="" />
              </div>
              <div class="extra_text_2">Stylus, Sass, Less</div>
            </div>

            <div class="extra_box_text_3">
              <div class="extra_icon_3">
                <img src="icon/icons.svg" alt="" />
              </div>
              <div class="extra_text_3">Gulp, Webpack, Grunt</div>
            </div>

            <div class="extra_box_text_4">
              <div class="extra_icon_4">
                <img src="icon/icons.svg" alt="" />
              </div>
              <div class="extra_text_4">GIT Knowledge</div>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="midd_frame">
          <div class="midd_container">
             <div class="midd_box_1">
               <div class="header"><%=user.work_place%></div>
               <div class="midd_text"><%=user.abaut_me%>
                
               </div>

                <button class="btn">HIRE ME</button>

            </div>
            <div class="midd_box_2">
             <img src="images/stev.png" alt="" srcset="" />
            </div>

              </div>
              <div class="down_box">
                <h1 class="down_header">My Services</h1>
                <p class="down_text"><%=user.servise_desc%></p>
                <div class="down_container">
                <div class="down_box_icon">
                 <img class="icon_H" src="icon/coding.svg" alt="">
                 <h1 class="header_">Web Development</h1>
                 <p class="text_">blog, e-commerce</p>
                </div>

                <div class="down_box_icon">
                 <img class="icon_H" src="icon/ition.svg" alt="">
                 <h1 class="header_">Web Development</h1>
                 <p class="text_">blog, e-commerce</p>
                </div>

                <div class="down_box_icon">
                 <img class="icon_H" src="icon/mikr.svg" alt="">
                 <h1 class="header_">Web Development</h1>
                 <p class="text_"><%=user.flower_name[6]%></p>
                </div>

                <div class="down_box_icon">
                 <img class="icon_H" src="icon/dev.svg" alt="">
                 <h1 class="header_">Web Development</h1>
                 <p class="text_"><%=user.flower_name[3]%></p>
                </div>

                <div class="down_box_icon">
                 <img class="icon_H" src="icon/sse.svg" alt="">
                 <h1 class="header_">Web Development</h1>
                 <p class="text_"><%=user.flower_name[6]%></p>
                </div>

                <div  class="down_box_icon">
                    <h1 style="padding-top: 10px;" class="header_">Web Development</h1>
                    <p class="text_"><%=user.flower_name[1]%></p>
                    <img class="icon_H" src="icon/ors.svg" alt="">
                </div>
                </div>
              </div>
            </div>
          
          <div class="right_frame">
              
              <div class="con">
                  <img src="icon/Contrast.svg" alt="">
                </div>
                <div class="cons">
                    <img src="icon/Home.svg" alt="">
                    <img src="icon/Servise.svg" alt="">
                    <img src="icon/Cv.svg" alt="">
                    <img src="icon/Portfolio.svg" alt="">
                    <img src="icon/Blog.svg" alt="">
                    <img src="icon/Contact.svg" alt="">
                </div>
            </div>
            </div>
      </div>
    </div>
  </body>
</html>
